/* কমন স্টাইল সব আইকনের জন্য */
.i-main {
    display: inline-block;

    background-color: currentColor; 
    
    /* মাস্ক প্রপার্টিজ */
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}


/* যদি আপনার ফোল্ডার নাম assets হয় তবে নিচের মত দিন */

.t-globe  { -webkit-mask-image: url('../assets/icon/globe.svg'); mask-image: url('../assets/icon/globe.svg'); }
.t-search { -webkit-mask-image: url('../assets/icon/search.svg'); mask-image: url('../assets/icon/search.svg'); }
.t-sun    { -webkit-mask-image: url('../assets/icon/sun.svg'); mask-image: url('../assets/icon/sun.svg'); }
.t-user   { -webkit-mask-image: url('../assets/icon/user.svg'); mask-image: url('../assets/icon/user.svg'); }
.t-house  { -webkit-mask-image: url('../assets/icon/house.svg'); mask-image: url('../assets/icon/house.svg'); }
.t-house-heart { -webkit-mask-image: url('../assets/icon/house-heart.svg'); mask-image: url('../assets/icon/house-heart.svg'); }
.t-person { -webkit-mask-image: url('../assets/icon/person.svg'); mask-image: url('../assets/icon/person.svg'); }

.t-stars { -webkit-mask-image: url('/assets/icon/stars.svg'); mask-image: url('/assets/icon/stars.svg'); }

/* মোবাইল ফোনের জন্য ছোট সাইজ করতে চাইলে (Optional) */
@media (max-width: 768px) {
    .i-main {

    }
}